{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-4 mb-4">
    <h2>Modificar Usuario</h2>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="form-group">
            <label for="rol">Rol</label>
            <select name="rol" id="rol" class="form-control">
                <option value="Vendedor" {% if form.instance.rol == 'Vendedor' %}selected{% endif %}>Vendedor</option>
                <option value="Contador" {% if form.instance.rol == 'Contador' %}selected{% endif %}>Contador</option>
                <option value="Bodeguero" {% if form.instance.rol == 'Bodeguero' %}selected{% endif %}>Bodeguero</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Modificar</button>
    </form>
</div>
{% endblock %}

