{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock %}

{% block css %}
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Ingresa tus credenciales</h2>
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <a class="" href="{% url 'index' %}">Ir al inicio</a>
                        <a class="" href="{% url 'password_reset' %}">Olvidaste tu contraseña?</a>
                        <input type="submit" class="btn btn-success float-right mt-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}

