{% extends 'base.html' %}
{% load static %}
{% block title %} Carro de compras {% endblock %}

{% block content %}
<div class="container">
    <div class="row w-100">
        <div class="col-lg-12 col-md-12 col-12">
            <h3 class="mt-4 mb-4 text-center">CARRO DE COMPRAS</h3>
            {% if cart %}
            <table id="shoppingCart" class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th style="width:60%">Producto</th>
                        <th style="width:12%">Precio</th>
                        <th style="width:10%">Cantidad</th>
                        <th style="width:5%;">SubTotal</th>
                        <th style="width:5%;"></th>
                    </tr>
                </thead>
                <tbody id="tbody" class="tbody">
                    {% for item in cart.cartitem_set.all %}
                    <tr>
                        <td><img style="width: 70px; padding-right: 10px;" src="{{item.producto.imagen.url}}" alt="">{{ item.producto.nombre }}, {{ item.producto.descripcion }}</td>
                        <td>${{ item.producto.precio }}</td>
                        <td>
                            <form action="{% url 'aumentar_cantidad_producto' item.id %}" method="post" class="cart-item-form">
                                {% csrf_token %}
                                <input type="number" name="cantidad" value="{{ item.cantidad }}" min="1" class="quantity-input">
                            </form>
                        </td>
                        <td>${{ item.subtotal }}</td>
                        <td>
                            <form action="{% url 'eliminarProductoCarrito' item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="">
                Tu carrito está vacío. ¡Explora nuestros productos y encuentra lo que necesitas!
            </div>
            {% endif %}
            <div class="row mx-4">
                <div class="col-sm-6">
                    <h3 class="itemCartTotal">Total: ${{ total_cart|default:0 }}, Total USD ${{ total_cart_dolar|floatformat:2|default:0 }}</h3>
                </div>
                <div class="col-sm-2">
                    <form action="{% url 'vaciar_carrito' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Vaciar Carrito</button>
                    </form>
                </div>
                <div class="col-sm-4 d-flex justify-content-end">
                    <a id="paypal-button-container"></a>
                </div>
            </div>
            <div class="row mt-4 d-flex align-items-center">
                <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                    <a href="/">
                        <i class="fas fa-arrow-left mr-2"></i> Seguir Comprando</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script
    src="https://www.paypal.com/sdk/js?client-id=AR26GGZpptbWdu3NyWSHjVXh8fT01jqN8qlgJjluJwWZsvD_7O29IjToBaEOErg5399jegwHWV2JbUTJ"></script>
<script>
    paypal.Buttons({
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{ total_cart_dolar|floatformat:2|default:0 }}' // Aquí puedes pasar el valor del total del carrito en dólares
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                // Mostrar mensaje de éxito
                alert('Transacción completada por ' + details.payer.name.given_name);

                // Vaciar el carrito
                fetch("{% url 'vaciar_carrito' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                }).then(response => {
                    if (response.ok) {
                        window.location.reload(); // Recargar la página para reflejar el carrito vacío
                    } else {
                        alert('Hubo un problema al vaciar el carrito');
                    }
                });
            });
        }
    }).render('#paypal-button-container');
</script>

<script>
    document.querySelectorAll('.quantity-input').forEach(function (input) {
        input.addEventListener('change', function () {
            this.closest('.cart-item-form').submit();
        });
    });
</script>
{% endblock %}